.content {
  padding: 16px;
}

.content>mat-card {
  width: 200px;
  word-break: break-all;
}
.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

